<h2>Búsquedas</h2>
<hr>
<ul class="list-group ">
    <!--ROUTER LINK-->
    <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]= "{exact:true}" class="list-group-item" >Buscar pais</li>
    <li routerLink="region" routerLinkActive="active" class="list-group-item">Por region</li>
    <li routerLink="capital" routerLinkActive="active" class="list-group-item">Por Capital</li>
</ul><!-- el router active sirve para colorear de azul y el routerActiveOptions sirve para que no se pinte en azul por defecto-->