/* You can add global styles to this file, and also import other style files */
.small-flag{
    width: 50px;

}
.img-thumbnail{
    width: 160px;
}
.mr-1{
    margin-right: 5px;
}
/* Responsive */
@media (max-width: 700px){
    *{
        flex-direction: column;
    }
    .col-3 {
        width: 100%;
        padding-bottom: 20px;
    }
}
    

